
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                    <span class="agrcentrado">
                        <img class="lg" src="../static/logo.png">
                    </span>
                <!-- <div class="text header-text">
                    <span class="name">Academic Dropout Prediction</span>
                    <span class="profession">Admin</span>
                </div> -->
            </div>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links" style="padding-left: 0;">
                    <li class="nav-link">
                        <a href="{{ url_for('index') }}">
                            <i class="bi bi-eye-fill icon"></i>
                            <span class="text nav-text">Prever</span>
                        </a>
                    </li>
                    {%if user_type == 'admin'%}
                    <li class="nav-link">
                        <a href="{{ url_for('modelar') }}">
                            <i class="bi bi-diagram-3-fill icon"></i>
                            <span class="text nav-text">Modelar</span>
                        </a>
                    </li>
                    {%endif%}
                    
                    <li class="nav-link">
                        <a href="{{ url_for('dados_inicial') }}">
                            <i class="bi bi-file-earmark-text-fill icon"></i>
                            <span class="text nav-text">Gestão de dados</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('admin') }}">
                            <i class="bi bi-diagram-3-fill icon"></i>
                            <span class="text nav-text">Administração</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('conta') }}">
                            <i class="bi bi-gear-fill icon"></i>
                            <span class="text nav-text">Definições</span>
                        </a>
                    </li>
                    
                    

        </div>
    </nav>

{% block body%}

{% endblock %}
